body,
html {
    height: 100%;
    width: auto;
}

body {
    font-family: "trebuchet ms";
    display: flex;
    flex-direction: column;
    margin: 0em;
}


/* Verhaal */

main img {
    width: 100%;
}

footer {
    text-align: center;
}

a {
    text-decoration: none;
    color: #606060;
}