html {
    font: 100% / 250% "trebuchet ms";
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "trebuchet ms";
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #606060;
}

input {
    border-radius: .80rem;
}

form > div > input:nth-of-type(2) {
    width: 3.750em;
    margin: 0em;
    padding: 0em;
}

input:nth-of-type(3) {
    background-color: aqua;
}

body > * {}

body > header {
    background-color: white;
    box-shadow: 0em 5em .5em 0em black;
}

nav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li img {
    width: 3.750em;
    margin: 0em;
    padding: 0em;
}

li:nth-of-type(1) {
    margin-right: auto;
}

li a {
    color: #00d66c;
    text-decoration: none;
    padding: .25em .5em;
}

nav > form {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -4em;
}

main > section {
    border-radius: .80rem;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    background-color: rgba(255, 255, 255, 0.9);
}

h1 {
    font-size: 2.375rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: #00d66c;
    background-color: rgba(255, 255, 255, 1.0);
    border-radius: .80rem .80rem 0rem 0rem;
}

main {
    background-image: url(Vrouwmetboek.png);
    background-repeat: no-repeat;
    background-size: cover;
}

body > section {
    display: grid;
    grid-template-columns: 20% 20% 20%;
}

section > article {
    padding: 3em flex-direction: column;
}

article {
    background-color: aquamarine;
    border: 10px;
    border-color: darkgrey;
}